@import url('../web-font/styles.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.css')
/***  GalanoGrotesqueAlt 
font-family: 'GalanoGrotesqueAlt-Regular';
font-family: 'GalanoGrotesque-Medium';
font-family: 'GalanoGrotesqueAlt-Bold';
font-family: 'GalanoGrotesque-Light';
 font-family: 'GalanoGrotesque-SemiBold';
**/ 


html,
body {
    margin: 0;
    padding: 0;
	counter-reset: section; background:#fff;
}

body {    font-size: 14px;    overflow-x: hidden;  }


h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: normal;
    background: transparent;
    font-weight: normal;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

input,
textarea,
select {
    font-weight: normal;
}

* {
    outline: none;
}

* {
    box-sizing: border-box;
}

img{ max-width: 100%;}

select::-ms-expand {
    display: none;
}

 ::selection {
    background: #a557a7;
    color: #fff;
}
::-moz-selection {
    background: #a557a7;
    color: #fff;
}
.form-control:focus {
    border-color: #d5d5d5;
    box-shadow: none;
    outline: 0 none;
}

input,
select,
textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

section{padding:75px 0px;}
p {  margin-top: 0; text-align: center;   margin-bottom: 10px;  color: #202020; font-size: 15px; font-family: 'GalanoGrotesque-Light';}

ul, ol{ margin: 0; padding: 0;}
li{ list-style: none;}

/**Custom CSS**/

@media screen  and (min-width:1500px){
    
    .container{
        max-width:1200px;
    }
}


/**Nav  **/

header{max-width:1611px;     margin: auto; padding: 15px 0px;}
header .navbar-light .navbar-nav .nav-link {
    color: #000000 ;
    font-size: 17px;
    text-transform: capitalize;
    padding: 0px 17px;
    font-family: 'GalanoGrotesqueAlt-Regular'; letter-spacing: 1px;
}
header .navbar-light .navbar-nav .active .nav-link,header .navbar-light .navbar-nav .nav-link:hover,.contact-detail ul li a:hover{ color: #0074ff;}
.navbar-brand {
    padding: 0;
    margin: 0;
}
.contact-detail ul li {
    display: inline-block; margin-left: 21px;
}

.contact-detail ul li .fa-phone::before { color: #0074ff; font-size: 20px;}
.contact-detail ul li:hover .fa-phone::before{color: #00ac1e;}
.contact-detail ul li a { color: #000000;  font-size: 16px; font-family: 'GalanoGrotesqueAlt-Regular'; }
.contact-detail ul li a.Apply {
    color: #0074ff;
    border: 2px solid #0074ff;
    border-radius: 30px;
    padding: 0 26px;
    font-size: 14px;
    line-height: 2.8;
    letter-spacing: 0.05em;
    font-family: 'GalanoGrotesque-Medium';
    text-transform: uppercase;
    margin-top: -5px;
}
.contact-detail ul li a.Apply:hover{border-color: #00ac1e; color: #00ac1e;}
.contact-detail ul li a span.icon-ph {
    float: left;
    margin-right: 4px;
    margin-top: 3px;
}
.contact-detail{ padding: 0;}
.banner-text a.reed-more:hover,a.reed-more:hover{ background: #00ac1e;}
/**nav end **/


/**banner **/

section.banner {
    position: relative;
    text-align: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
}
section.banner {
    padding:10.5% 0px 11%;
}

.banner-text {
    margin-top: 164px;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff; z-index: 999;
position: relative;
}
.banner-text h1 {
    font-size: 55px; font-family: 'GalanoGrotesqueAlt-Bold';
      color: #fff;line-height: 1.1;letter-spacing: 1.5px;
}
.banner-text h1 span{ color: #0074ff;}
.banner-text p {
    margin-top: 24px;font-family: 'GalanoGrotesque-Light';
    font-size: 19px;
    color: #fff; 
}

.banner-text a.reed-more {
    font-size: 14px;
    color: #fff;
    line-height: 3.5;
    display: inline-block;
    margin-top: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #0074ff;
    min-width: 180px;
    border-radius: 45px; 
}
a.reed-more {
    font-size: 14px;
    color: #fff;
    line-height: 3.5;
    display: inline-block;
    margin-top: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #0074ff;
    min-width: 180px;
    border-radius: 45px;font-family: 'GalanoGrotesque-Medium';text-align: center;

}
section.banner::before {
    content: '';
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
}
/***END ***/

/** about section **/


.text-center.main-heading { margin-bottom: 35px;width: 100%;
clear: both;  font-size: 32px; font-family: 'GalanoGrotesque-SemiBold';
    text-transform: uppercase;

}
.about{ text-align: center; background: #f9f9f9;}
.about p {  margin-top: 0; text-align: center;  width: 90%;  margin-bottom: 10px;  color: #202020; font-size: 15px; margin: auto;
    font-family: 'GalanoGrotesque-Light';}
h3{ font-size: 24px; font-family: 'GalanoGrotesque-Medium';margin-bottom: 18px;}
h4{ font-size: 19px; font-family: 'GalanoGrotesque-Medium';margin-bottom: 11px; text-transform: uppercase;}
.about .text-center.main-heading {  letter-spacing: 0.4px;}
/** about end **/

/** How-it-work section **/

section.How-it-work{ text-align: center;}
section.How-it-work span{ width: 120px; width: 120px; text-align: center; padding-top: 20px; background: #f3f3f3;}
section.How-it-work span img.icon{}
section.How-it-work span {
    height: 120px;
    width: 120px;
    text-align: center;
    padding-top: 28px;
    background: #f3f3f3;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-top: 29px;
}
/** How-it-work section end **/

/** qualification section **/

.qualification { background: #f9f9f9;}
.inner-qualification {
    padding-top: 47px;
}
.inner-qualification  img{ margin-top: 45px;}
ul.requirements li{ position: relative; padding-left: 35px; padding-bottom: 20px;}
ul.requirements li::before {
    background: url('../images/ok.png');  background-repeat: no-repeat; 
    background-position: top left;
    list-style: none;
    position: absolute;
    top: 2px;
    left: 0px;
    content: '';
    width: 22px;
    height: 22px;
}
ul.requirements li p {text-align: left;}

/** qualification section  end **/


/** special section **/

section.special h2.text-center.main-heading{ color: #fff; z-index: 999; position: relative; font-family: 'GalanoGrotesque-Medium';}
section.special p {
    color: #fff;
    font-family: 'GalanoGrotesque-Light';
    line-height: 2.3;
    z-index: 999;
    position: relative;
    max-width: 1190px;
    letter-spacing: 0.6px;
}
section.special::before {
    content: '';
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
}
section.special{
    position: relative;
    text-align: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
}
section.special {  padding: 112px 0px 105px;}
section.special .text-center.main-heading { margin-bottom: 30px;}
/** special section  end**/


/** Advantages section **/

.Advantages{ background:#fdfdfd; }
.Advantages p {
    margin-top: 0;
    text-align: left;}

.inner-partimg{ text-align: center;}
.inner-part .row {  padding: 0 70px 100px;}
.Advantages h3 {
    font-size: 28px; text-align: left;}
.Advantages h2.text-center.main-heading {
    margin-bottom: 77px;}
.Advantages figure {
    width: 122px;
    height: 122px;
    box-shadow: 0px 0px 10px #e9e9e9;
    border-radius: 50%;background: #fafafa;
    line-height: 8.5;margin: auto;margin-left: 24%;
}
.space-left {  padding-left: 47px;}
.last-row.row{padding-bottom: 0px;}


/** enterprise section **/


.text-center.main-heading { margin-bottom: 35px; width: 100%;letter-spacing: 0.9px;
clear: both;  font-size: 32px; font-family: 'GalanoGrotesque-SemiBold';
    text-transform: uppercase;

}
.enterprise{ text-align: center; background: #f9f9f9;}
.enterprise p {  margin-top: 0; text-align: center;  width: 77%;  margin-bottom: 10px;  color: #202020; font-size: 15px; 
    font-family: 'GalanoGrotesque-Light'; margin: auto auto 10px;}
.enterprise .text-center.main-heading {  margin-bottom: 35px; font-family: 'GalanoGrotesque-Medium';}

/** enterprise end **/

/** How-it-work section **/



/** testimonial section **/



section.testimonial{
    position: relative;
    text-align: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
}
section.testimonial h2{ color: #fff;}
section.testimonial::before {
    content: '';
    background: rgba(0, 0, 0, 0.56);
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
}

#demo{ z-index: 999; position: relative;}
#demo p{ color: #fff; }
.carousel-indicators {
	bottom: -36px;
	z-index: 9999;
	cursor: pointer;
}
#demo .fa-quote-left::before {
    content: "\f10d";
    color: #0074ff;
    font-size: 31px;
    margin-bottom: 45px;
    display: inline-block;
    margin-top: 23px;
}
#demo .carousel-indicators li {width: 10px; height: 10px;margin-right: 3px;margin-left: 3px;	border-radius: 50%;}
.client-degignation{ color: #fff; font-size:14px; font-family: 'GalanoGrotesque-Light'; }
#demo p {  color: #fff;  font-size: 20px;  line-height: 2;}
#demo .carousel-item h4 {  margin-top: 98px;}
section.testimonial { padding:95px 0px 113px;}
section.testimonial .carousel-indicators .active { background-color: #0074ff;}
section.testimonial #demo .text-center.main-heading {font-family: 'GalanoGrotesque-Medium';letter-spacing: 0;}
.client-degignation {  padding-top: 15px;   display: block;}



/**footer  **/

footer.footer {  background: #e8e8e8;   padding: 50px 0  0 ;}
footer.footer h3 { font-size: 20px; color: #167ffc; font-family: 'GalanoGrotesque-SemiBold'; text-transform: uppercase;}
footer.footer .fa.fa-fw.fa-facebook {
    background: #3a5891;
    height: 31px;
    width: 31px;
    border-radius: 50%;
    font-size: 20px;
    padding-top: 6px;
    color: #fff;
}
footer.footer .fa.fa-fw.fa-twitter {
    background: #00a4e6;
    height: 31px;
    width: 31px;
    border-radius: 50%;
    font-size: 20px;
    padding-top: 6px;
    color: #fff;
}
footer.footer .fa.fa-fw.fa-linkedin {
    background: #007aad;
    height: 31px;
    width: 31px;
    border-radius: 50%;
    font-size: 20px;
    padding-top: 6px;
    color: #fff;
}
ul.footer-nav li a,footer.footer li a{ color: #202020; font-size: 15px; font-family: 'GalanoGrotesque-Light'; line-height: 2;}
h3.Hours{ margin-top: 10px;}
.copy-right {
    background: #141414;
    padding: 25px 0 15px;
    color: #ffff;
}
.copy-right p{ text-align: left; color: #ababab; font-size: 14px; font-family: 'GalanoGrotesque-Light';}
.copy-right p.powered{ text-align: right;}
.copy-right p.powered a{ color: #26a9e0;}
input.submit {
    background: #177ffd;
    border: none;
    color: #fff;
    line-height: 3;
    width: 28%;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'GalanoGrotesque-Medium';
    min-width: 137px;cursor: pointer;
}
input.submit:hover{ background:#5aaf34;  -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out; }
.email {
    min-width: 285px;
    background: #fff;
    line-height: 3.7;
    border: none;
    width: 70%;
    font-size: 15px;
    color: #747171;
    padding: 0px 15px;
    border-radius: 5px;
    display: inline-block;
    float: left;
    margin-right: 4px;
}
.Hours.Follow {  text-align: right;  margin-top: 54px;}
.timing { margin-bottom: 45px;}
ul.timing li {
    line-height: 2;
    font-size: 15px;
    color: #202020;  font-family: 'GalanoGrotesque-Light';
}
h4 .client-name{  color: #fff;   font-size: 24px; display: block;}
footer.footer .fa.fa-fw.fa-facebook:hover,footer.footer .fa.fa-fw.fa-twitter:hover,footer.footer .fa.fa-fw.fa-linkedin:hover { background: #333; transform: rotate(360deg);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;}
footer.footer .fa.fa-fw.fa-twitter:hover{ background: #619ecf; }
footer.footer .fa.fa-fw.fa-linkedin:hover{ background: #00a4e6}
ul.footer-nav li a:hover, footer.footer li a:hover{ color: #167ffc;}
.Advantages figure:hover {  transform: scale(1.1); transform: rotate(360deg); 
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out; cursor: pointer;}
section.How-it-work span:hover{ transform: rotate(360deg); 
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out; cursor: pointer;}
.qualification img{-webkit-transition: all 0.4s ease ;
    -moz-transition: all 0.4s ease ;
    -ms-transition: all 0.4s ease ;
    -o-transition: all 0.4s ease ;}
.qualification img:hover{ transform: scale(1.1); -webkit-transition: all 0.4s ease ;
    -moz-transition: all 0.4s ease ;
    -ms-transition: all 0.4s ease ;
    -o-transition: all 0.4s ease ; }
ul.address li{  position: relative; padding-left: 20px; }
ul.address li.mobile::before {
    content: "\f10b";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    top: 0px;
    font-size: 20px;
    color: #3e94fb;
}
ul.address li.envelp::before {
    content: "\f003";
    font-family: FontAwesome;
    position: absolute;
    left: -2px;
    top: 5px;
    font-size: 15px;
    color: #3e94fb;
}
ul.address li.locat::before {
    content: "\f041";
    font-family: FontAwesome;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 17px;
    color: #3e94fb;
}

/**** footer end **/



/**** Responsive **/




@media screen and (max-width:1499px){
    
 header .navbar-light .navbar-nav .nav-link {font-size: 14px; padding: 0px 14px; }
.contact-detail ul li {  margin-left: 10px;}
.contact-detail ul li a {  font-size: 14px; }
.contact-detail ul li a.Apply { padding: 0 23px;  font-size: 13px;}
.banner-text h1 {    font-size: 40px;}
.text-center.main-heading {  font-size: 28px;}   
section.special p { line-height: 2;   }
.Advantages h3 { font-size: 23px;}
    input.submit { min-width: 125px;}
    .email { min-width: 260px;  } 
}
    



@media (min-width:992px) and (max-width:1199px) {
header .navbar-light .navbar-nav .nav-link {  font-size: 11px;  padding: 0px 9px;}
.contact-detail ul li a {  font-size: 12px;}
.contact-detail ul li a.Apply {  padding: 0 12px; font-size: 9px;}
.contact-detail ul li {  margin-left: 4px;}
.navbar-brand {  width: 105px;}
section {padding: 55px 0px;}
.text-center.main-heading {  font-size: 21px;}
 .inner-qualification { padding-top: 20px;} 
 h4 {  font-size: 15px;}
ul.requirements li::before {   top: 0px;  left: 4px;   width: 18px;  height: 20px;  background-size: 100% 100%;}    
 section.special {padding: 50px 0px 30px;} 
 .inner-part .row {  padding: 0 70px 30px;}   
  section.testimonial {  padding: 70px 0px 70px;} 
#demo p {    font-size: 14px;}
#demo .fa-quote-left::before{ margin: 10px 0;} 
 #demo .carousel-item h4 {  margin-top: 27px;}   
.email {  min-width: 240px;  line-height: 2.5;    width: 60%; }
input.submit {  line-height: 2.5;   width: 28%;      font-size: 14px; }
    footer.footer h3 {   font-size: 17px;}

    
    
}

@media (min-width:768px) and (max-width:991px) {

li.nav-item { display: inline-block;}
.navbar-nav {  display: block;  width: 100%;  margin: 8px 0px;  text-align: center;  padding: 11px 0px;
    margin-bottom: 8px;}
.contact-detail .text-right {  text-align: center!important;}
.text-center.main-heading {  font-size: 17px;}  
 a.reed-more { line-height: 3;  margin-top: 28px; min-width: 145px;}
 section { padding: 35px 0px;}  
h3 {
    font-size: 19px;}
.about p {  width: 100%;  }
    h4 {  font-size: 15px;}  
    ul.requirements li::before { top: -2px;  } 
section.special {  padding: 50px 0px 50px;}  
 .enterprise .text-center.main-heading {  margin-bottom: 15px;}
#demo p {   color: #fff; font-size: 15px;}
#demo .fa-quote-left::before{ margin: 10px 0;}  
#demo .carousel-item h4 { margin-top: 41px;}    
    footer.footer h3 { font-size: 12px; } 
    ul.footer-nav li a, footer.footer li a { font-size: 11px;  }
    ul.timing li {  font-size: 12px;}
input.submit { min-width: 75px; font-size: 12px;     line-height: 2.9;}   
.email { min-width: 134px;  line-height: 34px;  width: 60%;} 
input.submit {  min-width: 75px;  font-size: 12px;  line-height: 31px;  width: 38.1%;}
 ul.address li { padding-bottom: 0px;} 
 footer.footer h3 { margin-bottom: 10px;}   
 .timing { margin-bottom: 15px;}   
 .navbar-toggler {  float: right; font-size: 15px;  line-height: 0;  background-color: transparent;  border: 1px solid transparent; border-radius: .25rem;}
.navbar {  display: block;}
header {  padding: 5px 0px;}
a.navbar-brand {  width: 130px;    margin-bottom: 8px;}
header .navbar-light .navbar-nav .nav-link { font-size: 11px;  padding: 0px 6px;}  
    ul.address li {  padding-left: 15px; }  
    ul.address li.envelp::before,ul.address li.mobile::before,ul.address li.locat::before {  font-size: 11px;     top: 6px;} 
.contact-detail ul li { margin-left: 10px;} 
    .navbar-nav {  text-align: left;    padding: 4px 0px 0px;}
.contact-detail ul li a { font-size: 12px;} 
   .contact-detail ul li a.Apply {padding: 0 15px; font-size: 12px;} 
    .collapse{  border-top: 1px solid #ccc; position: relative;}
.contact-detail {  padding:10px 0 0 0;} 
   .navbar {  padding-bottom: 0px;} 
.contact-detail ul li .fa-phone::before {   font-size: 16px;} 
.contact-detail { padding: 10px 0 0 0;  position: absolute; top: 0px;  right: 0px;}  
 .navbar-toggler {  margin-top: 6px;     padding: 2px 5px;}   
}
    

/*** mobile Responsive **/
@media screen and (max-width:767px){
    .contact-detail ul li {  margin-left: 0px; margin-right: 14px;}
  
 .navbar-toggler {  margin-top: 2px;     padding: 2px 5px; float: right;} 
    .navbar { display: block;}
    .navbar-brand { width: 30%;}
section.banner { padding: 13% 0px 5%;}
section { padding: 30px 0px;}
.navbar-nav li.nav-item {
    text-align: left;
    padding: 8px 0px;
    border-bottom: 1px solid #f5f5f5;
} 
    header { padding: 5px 0px;}
 span.get-icon::before {
    width: 14px;
    height: 14px;
    background-size: 100%;
    left: 0;
    top: 9px;
    background-repeat: no-repeat;
}
    header .navbar-light .navbar-nav .nav-link {  padding: 0px;}
li.nav-item.Started-nav { padding-left: 19px;}   
    .navbar-brand img{ width: 100%;}
 .contact-detail {  padding: 0;  margin-top: 17px;}   
    .contact-detail ul li:first-child {  float: left;} 
.contact-detail ul li:first-child a { font-size: 15px;  margin-top: 3px;  display: inline-block;}
.banner-text h1 {  font-size: 26px;}
.banner-text p { margin-top: 6px;  font-size: 14px;}
.banner-text a.reed-more { font-size: 12px;  line-height: 2.5;  margin-top: 3px; min-width: 129px;  border-radius: 41px;}  
    a.reed-more { font-size: 12px;  line-height: 2.5;  min-width: 129px;  border-radius: 41px;}
.text-center.main-heading { font-size: 18px;}
    .about p { width: 100%;  font-size: 15px;  margin: auto;}
.inner-qualification span { margin: auto; width: 100%;  display: block; text-align: center;}
    .inner-qualification span img{  max-width: 60%; margin: 0px;}
    .inner-qualification { padding-top: 0px;}
ul.requirements{ margin: 0; padding: 35px 20px 0px;}
section.special p { line-height: 1.5;  font-size: 13px;}   
section.special {padding: 50px 0px 8px;}
    .inner-part .row { padding: 0 0px 100px;  text-align: center;}
.Advantages figure { margin-left: auto;}
.Advantages h3 { margin-top: 20px;  text-align: center;}
.space-left { padding-left: 30px;}
.Advantages p { margin-top: 0;  text-align: center;}  
 .inner-part .row {  padding: 0 0px 50px;  text-align: center;} 
    section.testimonial {  padding: 30px 0px 45px;}
#demo p { color: #fff;  font-size: 13px;}
 #demo .carousel-item h4 { margin-top: 25px;}
    #demo .fa-quote-left::before{ margin: 10px 0;}
.text-center.main-heading { margin-bottom: 10px;}
    input.submit {  min-width: 97px; line-height: 3.5; font-size: 15px;}
 .email {  min-width: 170px;}  
.Hours.Follow { text-align: left;  margin-top: 54px;}
.footer-middle .col-sm-5 .text-right { text-align: left!important; margin-bottom: 20px;}
 .copy-right p.powered { text-align: center;}
    .copy-right {  text-align: center;}
.col-md-2 ul.footer-nav {  margin-bottom: 19px;}
.email { line-height: 2.5;    width: 70%;}
input.submit {  min-width: 97px;  line-height: 2.9;  font-size: 12px;}
}



/*** mobile end **/



