
@font-face {
  font-family: 'GalanoGrotesqueAlt-Regular';
  src: url('GalanoGrotesqueAlt-Regular.eot?#iefix') format('embedded-opentype'),  url('GalanoGrotesqueAlt-Regular.otf')  format('opentype'),
	     url('GalanoGrotesqueAlt-Regular.woff') format('woff'), url('GalanoGrotesqueAlt-Regular.ttf')  format('truetype'), url('GalanoGrotesqueAlt-Regular.svg#GalanoGrotesqueAlt-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GalanoGrotesque-Medium';
  src: url('GalanoGrotesque-Medium.eot?#iefix') format('embedded-opentype'),  url('GalanoGrotesque-Medium.otf')  format('opentype'),
	     url('GalanoGrotesque-Medium.woff') format('woff'), url('GalanoGrotesque-Medium.ttf')  format('truetype'), url('GalanoGrotesque-Medium.svg#GalanoGrotesque-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GalanoGrotesqueAlt-Bold';
  src: url('GalanoGrotesqueAlt-Bold.eot?#iefix') format('embedded-opentype'),  url('GalanoGrotesqueAlt-Bold.otf')  format('opentype'),
	     url('GalanoGrotesqueAlt-Bold.woff') format('woff'), url('GalanoGrotesqueAlt-Bold.ttf')  format('truetype'), url('GalanoGrotesqueAlt-Bold.svg#GalanoGrotesqueAlt-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GalanoGrotesque-Light';
  src: url('GalanoGrotesque-Light.eot?#iefix') format('embedded-opentype'),  url('GalanoGrotesque-Light.otf')  format('opentype'),
	     url('GalanoGrotesque-Light.woff') format('woff'), url('GalanoGrotesque-Light.ttf')  format('truetype'), url('GalanoGrotesque-Light.svg#GalanoGrotesque-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GalanoGrotesque-SemiBold';
  src: url('GalanoGrotesque-SemiBold.eot?#iefix') format('embedded-opentype'),  url('GalanoGrotesque-SemiBold.otf')  format('opentype'),
	     url('GalanoGrotesque-SemiBold.woff') format('woff'), url('GalanoGrotesque-SemiBold.ttf')  format('truetype'), url('GalanoGrotesque-SemiBold.svg#GalanoGrotesque-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
